<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<h3>{% block head %}{% endblock %}</h3>
	{% block content %}{% endblock %}
</body>