{% extends 'base.html' %}

{% block title %}{{ block.super }} | All Books{% endblock title %}

{% block content %}
  <ul>
    {% for book in books %}
        <li>
          <a href="{% url 'detail' book.pk %}">{{ book }}</a>
        </li>
    {% empty %}
        <h1>No books are available.</h1>
    {% endfor %}
  </ul>
{% endblock content %}