<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact Us</title>
</head>
<body>
	<form method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>
</body>
</html>