<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	{% if errors %}
	<ul>
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form action="" method="get">
		Full name<input type="text" name="fullname">
		Subject<input type="text" name="subject">
		Message<input type="text" name="message">
		<input type="submit" value="Ok">
	</form>
</body>
</html>