{% extends "base_display_meta.html" %}

{% block title %}Display meta{% endblock %}

{% block head %}<h3>Input your name</h3>{% endblock %}

{% block content %}
<form action="" method="get">
	<input type="text" name="q">
	<input type="submit" value="Search">
</form>
{% endblock %}