<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	{% if stored %}
		<p>Found {{ stored|length }} book{{ stored|pluralize }}.</p>
		<ul>
			{% for book in stored %}
			<li>{{ book.title }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Nothing stored</p>
	{% endif %}
</body>
</html>