<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	{% if books %}
		<p>Found {{ books|length }} book{{ books|pluralize }}.</p>
		<ul>
			{% for book in books %}
			<li>{{ book.title }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No books matched your search criteria</p>
	{% endif %}
</body>
</html>