<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	{% if publishers %}
		<p>Found {{ publishers|length }} publisher{{ publishers|pluralize }}.</p>
		<ul>
			{% for publisher in publishers %}
			<li>{{ publisher.name }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No publishers matched your search criteria</p>
	{% endif %}
</body>
</html>