{% extends "base_exer.html" %}

{% block title %}Valid Date{% endblock %}

{% block head %}This website checks if the input date is valid.{% endblock %}

{% block content %}
<p>
	Inputs are as follows: <br>
	Year: {{ year }} <br>
	Month: {{ month }} <br>
	Day: {{ day }}
</p>
<p>
	{{ year }}/{{ month }}/{{ day }} is {{ is_valid }}
</p>
{% endblock %}